<!-- ANDY: to view localhost:3000/messages -->

<h1>Messages</h1>

<ul>
<% @messages.each do |message| %>
    <li>message.user_name</li>
    <li>message.content</li>
    <li>message.bike_trail</li>
<% end %>
</ul>